<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">{{mensaje}}</h5>
            <form [formGroup]="this.Form">
                <br>
                <div class="form-group">
                  <label >Nombre del Producto</label>
                  <input [readonly]="this.parametro!='0'" type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label >Precio</label>
                    <input type="number" class="form-control" formControlName="precio">
                </div>
                <div class="form-group">
                    <label >Stock</label>
                    <input [readonly]="this.parametro!='0'" type="number" class="form-control" formControlName="stock">
                </div>
                <button type="submit" class="btn btn-primary" (click)="guardar()">Submit</button>
              </form>     
        </div>
    </div>
    <div class="col">
    </div>
  </div>

